body {
    background-color: #d0f0ff;
    color: #222222;
}

nav {
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: 200px;
    clear: both;
}

header {
    text-align: center;
}

#memeImage {
    margin-right: 200px;
    max-width: 100%;
    height: auto;
    display: block;
}
